.footer {
    background-color: white;
    color: black;
  }
  
  .footer-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
  }
  
  .footer-logo:hover {
    text-decoration: none;
    color: #ffc107;
  }
  
  .footer-link {
    color: black;
    text-decoration: none;
  }
  
  .footer-link:hover {
    color: #ffc107;
    text-decoration: underline;
  }
  
  .social-links a {
    color: black;
    font-size: 1.5rem;
    margin-right: 15px;
    text-decoration: none;
  }
  
  .social-links a:hover {
    color: #ffc107;
  }
  
  hr.bg-light {
    opacity: 0.2;
  }
  